<template>
    <div>
        <h1>Child Component</h1>
        <h2>{{name}}</h2>

        <button v-on:click="updateTitle">Update Home Title</button>
    </div>
</template>


<script>
export default {
    name: "Child",
    props:[ 'name'],
    methods:{
        updateTitle(){
            // console.log("updated title called")
            // this.$emit("function_name","data")
            this.$emit('changeTitle', "Hello From Child Component")
        }
    }
       
    
}
</script>