<template>
    <div>
        <div v-if="show">
        <button v-on:click="adnan('Hi from define callmethod')">Click Event Button</button><br>
        </div>
        <div v-else>
        <button v-on:click="task_data()">Get Data</button>
        </div><br>
        <div>
        <button v-on:click="display" v-bind:disabled="disableBtn">Show hide Toogle</button>
        </div>
    </div>
</template>

<script>
export default {
    name:"Condcomponent",
    data(){
        return{
            show:true,
            disableBtn: false
        }
    },
    methods: {
        adnan(data){
            // console.log(data)
            alert(data)
        },
        task_data(){
            console.log("hello from task method")
        },
        display(){
            this.show=!this.show
        }
    }
}
</script>