<template>
  <div  id="homePage">
    <!-- <h1 style="color:red;">Hello From Home Component</h1> -->
    <h1 style="color:red;">{{title}}</h1>
    <h2 class="data_text">{{ data }}</h2>
    <p class="data_text desc_text">{{ msg }}</p>
    <Condcomponent />
    <Tasks />
    <DataBind />
    <Child name="adnan nagori" v-on:changeTitle="updateTitle($event)"/>

    <!-- <table border="1">
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Time</th>
      </tr>
      <tr v-for="task in tasks" :key="task.id">
        <td>{{task.id}}</td>
        <td>{{task.task}}</td>
        <td>{{task.time}}</td>
      </tr>
    </table> -->
    
  </div>
</template>
<script>
import Tasks from './Tasks'
import Condcomponent from './Condcomponent'
import DataBind from './DataBind'
import Child from './Child'


export default {
  name: "Home",
  components:{
    Tasks,
    Condcomponent,
    DataBind,
    Child
  },
   data()  {
    return {
      title : "Hello From Home Component"
      // show:true,
      // tasks: [
      //   { id: 11, task: "Learn about Vue.js props", time: "10:10 am" },
      //   { id: 12, task: "Go for a walk", time: "06:00 pm" },
      //   { id: 13, task: "Sleep", time: "11.00 pm" },
      //   { id: 14, task: "Good Morning", time: "11.00 am" },
      //   { id: 15, task: "Mid Night", time: "03.00 am" },
      // ],
    }
  },
  props: {
    data: String,
    msg: String
  },
  methods:{
    adnan(data){
      // console.log(data)
      alert(data)
    },
    task_data(){
      console.log("hello from task method")
    },
    display(){
      this.show=!this.show
    },
    updateTitle(title){
      this.title = title
    }

  },

  // life cycle methods in vue js
  // beforeCreate, created, beforeMount, mounted, beforeUpdate, updated, beforeDestroy, destroyed
  beforeMount:function (){
    //console.log("beforeMount")
  },
  beforeCreate: function(){
    //console.log("beforeCreated")
  },
  created: function(){
    //console.log("created")
  },
  mounted: function(){
    //console.log("mounted")
  }


  //we can also use props like this.
  // props:['data', 'msg']
};
</script>

<style>
.data_text {
  color: green;
  font-size: 1.8em;
}
.desc_text {
  color: #2543da;
  font-size: 20px;
}
#homePage{
  text-align: center;
}
</style>
