<template>
    <div>
        <h1 style="text-align:center">Register Form</h1>
        <input type="text" placeholder="First Name" v-model="signup.firstName" /><br><br>
        <input type="text" placeholder="Last Name" v-model="signup.lastName" /><br><br>
        <input type="text" placeholder="Enter Username" v-model="signup.username" /><br><br>
        <input type="password" placeholder="Enter Password" v-model="signup.password" /><br><br>
        <input type ="checkbox" id="cricket" value="cricket" v-model="signup.hobbies" />
        <label for="cricket">Cricket</label>
        <input type ="checkbox" id="football" value="football" v-model="signup.hobbies" />
        <label for="football">Football</label><br><br>
        <input type ="radio" id="male" value="male" v-model="signup.gender" />
        <label for="male">male</label>
        <input type ="radio" id="female" value="female" v-model="signup.gender" />
        <label for="female">Female</label><br><br>
        <button v-on:click="signupuser">Sign Up</button>
        


    </div>
</template>

<script>
export default {
    name: 'SignUp',
    data(){
        return{
            signup : {
                username : null,
                firstName : null,
                lastName : null,
                password : null,
                hobbies : [],
                gender : null
            }
        }
    },
    methods:{
        signupuser(){
            console.log(this.signup)
        }
    }
}
</script>