<template>
    <div>
        <table border="1">
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Time</th>
        </tr>
        <tr v-for="task in tasks" :key="task.id">
            <td>{{task.id}}</td>
            <td>{{task.task}}</td>
            <td>{{task.time}}</td>
        </tr>
        </table>
    </div>
</template>

<script>
export default {
    name:"Tasks",
    data(){
        return{
            tasks: [
                { id: 1, task: "Learn Vue.js props", time: "10:10 am" },
                { id: 2, task: "Go for a walk", time: "06:00 pm" },
                { id: 3, task: "Sleeping Time", time: "11.00 pm" },
                { id: 4, task: "Good Morning", time: "11.00 am" },
                { id: 5, task: "Mid Night", time: "03.00 am" },
                { id: 6, task: "Mind Blowing", time: "05.00 am"}
            ]
        }
    }
}
</script>
<style>
table {
    margin-left: 40%;
    margin-top: 35px;
}
</style>